<%- include('../header.ejs') %>
<header class="borger">
    <div class="container position-relative">
        <div class="row justify-content-center">

            <div style="padding-top: 2rem;padding-bottom: 2rem;" class="text-center text-white">
                <h1 style="text-transform: uppercase;">VELKOMMEN FAGPERSON</h1>
                <span style="font-size: 25px; font-weight:bold; text-transform: uppercase;"><%=user.name%></span><br>
                
            </div>

        </div>
    </div>
</header>

<section>
    <div class="container" style="padding-top: 4rem;padding-bottom: 4rem;">
        <div class="row">

            <div class="col-md-8">

                <div class="card ">
                    <h5 class="card-header">FAGPERSON</h5>
                    <div class="card-body">
                    
                        <h6 class="card-title"></h6>
                        <p class="card-text"></p>

                    </div>
                  </div>
                
            </div>

            <div class="col-md-4">

                <div class="card ">
                    <h5 class="card-header">DINE KLINIKKER</h5>
                    <div class="card-body">

                    <% workplaces.forEach(function(workplace) { %>
                      <h6 class="card-title"><%=workplace.name%></h6>
                      <p class="card-text"><%=workplace.address%><br><%=workplace.phone%></p>
                      <hr>
                    <% }); %> 

                    </div>
                  </div>
            </div>

        </div>
    </div>
</section>
<%- include('../footer.ejs') %>