<%- include('../header.ejs') %>
<header class="borger">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div
        style="padding-top: 2rem; padding-bottom: 2rem"
        class="text-center text-white"
      >
        <h1 style="text-transform: uppercase">VELKOMMEN FAGPERSON</h1>
        <span
          style="font-size: 25px; font-weight: bold; text-transform: uppercase"
          ><%=user.name%></span
        ><br />
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container" style="padding-top: 4rem; padding-bottom: 4rem">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <h5 class="card-header" href="#">
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Vælg patient for at se deres data"
              >PATIENTDATA</span
            >
          </h5>

          <div class="card-body">
            <label for="exampleDataList" class="form-label">Vælg patient</label>

            <div class="row">
              <div class="col">
                <input
                  class="form-control datainput"
                  oninput="onChangeDatalistInput()"
                  id="selectPatient"
                  list="myList"
                  placeholder="Søg efter patient..."
                />
                <datalist class="datalist">
                  <% patients.forEach(function(patient) { %>
                  <option data-id="<%=patient.id%>" value="<%=patient.name%>">
                    <%=patient.CPR%>
                  </option>
                  <% }); %>
                </datalist>
              </div>
              <div class="col-md-auto">
                <button class="btn btn-danger" id="goToPatient">
                  Se patient
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card" style="margin-top: 20px">
          <h5 class="card-header" href="#">
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Se dine beskeder!"
              >BESKEDER</span
            >
          </h5>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <a class="card-header" href="/fagperson/indbakke">
                    <div class="float-start">Indbakke</div>
                    <span class="badge bg-danger" style="margin-left: 5px"
                      ><%=messages%></span
                    >
                    <div class="float-end"><i class="bi-arrow-right"></i></div>
                  </a>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <a
                    class="card-header"
                    data-bs-toggle="modal"
                    data-bs-target="#nyBesked"
                  >
                    <div class="float-start">Ny besked</div>
                    <div class="float-end"><i class="bi-arrow-right"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card" style="margin-top: 20px">
          <h5 class="card-header" href="#">
            <span
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Rediger og se dine profil indstillinger!"
              >DIN PROFIL</span
            >
          </h5>

          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <a class="card-header" href="/fagperson/">
                    <div class="float-start">Indstillinger</div>
                    <div class="float-end"><i class="bi-arrow-right"></i></div>
                  </a>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <a class="card-header" href="/fagperson/">
                    <div class="float-start">Rediger profil</div>
                    <div class="float-end"><i class="bi-arrow-right"></i></div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <h5 class="card-header">DINE KLINIKKER</h5>
          <div class="card-body">
            <% workplaces.forEach(function(workplace) { %>
            <h6 class="card-title"><%=workplace.name%></h6>
            <p class="card-text">
              <%=workplace.address%><br /><%=workplace.phone%>
            </p>
            <hr />
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="nyBesked"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Send besked</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          class="form-control datainputMessage"
          oninput="onChangeDatalistInputMessage()"
          id="selectPatientMessage"
          list="messageList"
          placeholder="Søg efter patient..."
        />
        <datalist class="datalistMessage">
          <% patients.forEach(function(patient) { %>
          <option data-id="<%=patient.id%>" value="<%=patient.name%>">
            <%=patient.CPR%>
          </option>
          <% }); %>
        </datalist>

        <br />

        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Skriv din besked her"
            name="message"
            id="messageTextarea"
            style="height: 100px"
          ></textarea>
          <label for="messageTextarea">Besked</label>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Annuller
        </button>
        <button type="submit" id="sendBesked" class="btn btn-danger btn-sm">
          Send besked
        </button>
      </div>
    </div>
  </div>
</div>
<%- include('../footer.ejs') %>
