<%- include('../header.ejs') %>

<header class="borger">
    <div class="container position-relative">
        <div class="row justify-content-center">

            <div style="padding-top: 1rem;padding-bottom: 1rem;" class="text-center text-white">
                
                <span style="font-size: 30px;">Patientens sundhedsdata</span><br>
                <span>Her får du et overblik over din patients sundhedsdata.</span>
                
            </div>

        </div>
    </div>
</header>

<section>
    <div class="container" style="padding-top: 4rem;padding-bottom: 4rem;">
        <div class="row">

            <div class="row">
                
                <div class="col-md-8">
    
                      <div class="card">
                        <h5 class="card-header">PATIENTDATA</h5>
    
                        <div class="card-body">
                                
                            <div class="row">
    
                                <div class="col-sm-6">
                                    <div class="card">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Se recepter</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>

                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Se journaler</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>

                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Se vaccinationer</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>

                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Se laboratoriesvar</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>
                                </div>
    
                                <div class="col-sm-6">
                                    <div class="card">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Tilføj recept</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>
                                    
                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Tilføj journal</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>

                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Tilføj vaccination</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>

                                    <div class="card" style="margin-top: 10px;">
                                        <a class="card-header" href="/fagperson/">
                                            <div class="float-start">Tilføj laboratoriesvar</div>
                                            <div class="float-end"><i class="bi-arrow-right"></i></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    
                </div>
    
                <div class="col-md-4">
    
                    <div class="card ">
                        <h5 class="card-header">PATIENT</h5>
                        <div class="card-body">
                          <h6 class="card-title"><%=patient.name%></h6>
                          <p class="card-text"><%=patient.CPR%></p>

                          <div class="card" style="margin-top: 10px;">
                            <a class="card-header" href="/fagperson/">
                                <div class="float-start">Send besked</div>
                                <div class="float-end"><i class="bi-arrow-right"></i></div>
                            </a>
                        </div>
    
                        </div>
                      </div>

                      <div class="card" style="margin-top:20px">
                        <h5 class="card-header">NOTER <div class="float-end"><button style="height: 25px; margin-top: -7px; padding: 0rem 0.75rem;" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#nyNote">Ny note</button></div></h5>
                        <div class="card-body">
                          <p class="card-text">
                            <% if(notes.length == 0) { %>
                                <div class="text-center">
                                    <span>Der er ingen noter til denne patient</span>
                                </div>
                            <% } %>
                            
                                <% notes.forEach(function(note) { %>
                                    <form action="/fagperson/deleteNote" method="post">
                                        <input type="hidden" name="patient" value="<%=patient.id%>">
                                    <input type="hidden" name="noteId" value="<%=note.id%>">
                                    <li><%=note.note%> <button class="btn btn-danger btn-sm float-end" type="submit" onclick="return confirm('Er du sikker?')" >X</button> </li>
                                </form>
                                <% }); %>
                            
                        </p>
                        </div>
                      </div>
                </div>

            </div>
            
        </div>
    </div>
</section>

<div class="modal fade" id="nyNote" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Tilføj note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/fagperson/note" method="post">
        <div class="modal-body">
            <input type="hidden" name="patient" value="<%=patient.id%>">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Skriv noten her" name="note" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Note</label>
              </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annuller</button>
          <button type="submit" class="btn btn-danger btn-sm">Tilføj note</button>
        </div>
    </form>
      </div>
    </div>
  </div>

<%- include('../footer.ejs') %>
